.btn-xl {
	text-transform: uppercase;
	padding: 1.5rem 3rem;
	font-size: 0.9rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
}

.bg-black {
	background-color: #000 !important;
}

.rounded-pill {
	border-radius: 5rem;
}

/* .navbar-custom {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: rgba(0, 0, 0, 0.7);
}

.navbar-custom .navbar-brand {
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
} 

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}

header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
}

header.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
}

header.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}

header.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}

header.masthead .bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
} 

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
} */

.bg-primary {
	background-color: #ee0979 !important;
}

.btn-primary {
	background-color: #ee0979;
	border-color: #ee0979;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
	background-color: #bd0760 !important;
	border-color: #bd0760 !important;
}

.btn-primary:focus {
	box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
}

.btn-secondary {
	background-color: #ff6a00;
	border-color: #ff6a00;
}

.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
	background-color: #cc5500 !important;
	border-color: #cc5500 !important;
}

.btn-secondary:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
}
/*  */
.bg {
	background-color: #a5243d !important;
}
.contact-section .card h4 {
	font-size: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 0.15rem;
}
.contact-section .card hr {
	border-color: #a5243d;
	border-width: 0.25rem;
	width: 5rem;
}

.contact-section .social a img {
	height: 50px;
	width: 50px;
}
.contact-section .social {
	margin-top: 5rem;
}
.contact-section .social a {
	text-align: center;
	height: 3rem;
	width: 3rem;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 100%;
	line-height: 3rem;
	color: rgba(255, 255, 255, 0.3);
}

footer {
	background-color: black;
	padding: 4rem 0;
}

.logo {
	width: 80px;
	height: 90px;
	margin: 0px;
}

.close {
	margin: 0px;
}

.modal-header {
	height: 85px;
}

.modal-logo-div {
	float: left;
}

.modal-logo-img {
	width: 50px;
	height: 70px;
}

.modal-title-div {
	margin-left: 3.5em;
}

.modal-title {
	margin-top: 0.5rem;
}

/*  */

#mainNav .navbar-toggler:focus {
	outline: none;
}
#mainNav .navbar-brand {
	font-weight: 1000;
	padding: 0.9rem 0;
	color: #a5243d;
}
#mainNav .navbar-nav {
	font-weight: 1000;
	padding: 0.9rem 0;
}
#mainNav .navbar-item {
	font-weight: 500;
}

.backg {
	position: relative;
	width: 100%;
	height: 100vh;
	min-height: 35rem;
	padding: 15rem 0;
	background: url("./img/blood-donation1.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

.backg h1 {
	color: white;
	font-size: 100px;
}
.backg span {
	color: white;
	font-size: 40px;
}
.name-links {
	margin-top: 25px;
}
.name-info {
	margin: 10px 20px;
}
.content {
	padding-top: 80px;
}
.car {
	margin-top: 57px;
	margin-bottom: 50px;
}
.car-pic {
	width: 1000px;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}
img {
	vertical-align: middle;
	border-style: none;
}
.m-content-p {
	font-size: 16px;
}
.more-content {
	padding-top: 60px;
	margin-bottom: 100px;
}
.more-content .project-text {
	padding: 3rem;
	font-size: 90%;
}
.line {
	width: 150px;
	height: 5px;
	background-color: #a5243d;
}

/*  for partners */

.appointments {
	padding-top: 10px;
}

.title {
	padding: 20px;
}

.list-group {
	max-height: 70vh;
	max-width: 300px;
	margin-bottom: 10px;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

.appointments-table {
	padding: 20px;
	display: flex;
	flex-direction: row;
}

.appointments-table__list {
	width: 500px;
}

.button--active ul li {
	background-color: black;
}

.event-form {
	padding: 20px;
}

.navbar {
	background-color: white;
	height: 60px;
}

/* for partners */
